// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: 0.25rem !default;

$body-background: white !default;
$body-font-color: black !default;
$body-font-weight: normal !default;
$body-min-width: 25rem !default;

$nav-background: #fafafa !default;
$nav-link-color: #0078d4 !default;

$header-height: 3.5rem !default;
$menu-width: 18rem !default;
$toc-width: 14rem !default;

$container-max-width: 80rem !default;
$container-min-width: $body-min-width !default;

$sm-breakpoint: $menu-width + $body-min-width !default;
$md-breakpoint: $sm-breakpoint + $toc-width !default;

$main-color: #0078d4 !default;
$secondary-color: #00a2ed !default;